@font-face {
   font-family: 'Futura Book Regular';
   font-display: swap;
   src: url('file:///C:/Users/Home/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-02_154359/fonts/Futura%20Book%20Regular/font.woff');
}
