@font-face {
   font-family: 'Quicksand-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/Home/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-02_154359/fonts/Quicksand-VariableFont_wght/font.ttf');
}
